<!-- footer full -->
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;max-width:600px;" align="center">
  <tr>
    <td style="padding: 0 0 0 0;" align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td bgcolor="#E2E2E2" align="center" style="border-top: 1px solid #c0c0c0">
            <table class="content-table" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
              <tr>
                <td style="padding: 16px 0 16px 0;" align="center" valign="top">
                  <!-- content -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td style="color: #333333; font-family: 'Segoe UI',-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif; font-size: 14px; font-weight: normal; line-height: 21px;" align="left">
                        <!-- address and social -->
                        <!-- Two up text -->
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td style="padding: 0 0 0 0;" align="center">
                              <table class="content-table" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
                                <tr>
                                  <td style="padding: 0 24px 0 24px;" align="center" valign="top">
                                    <!-- Two column -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tr>
                                        <td>
                                          <!-- content left -->
                                          <table class="content-table" border="0" cellpadding="0" cellspacing="0" width="420px" align="left" pardot-region>
                                            <tr>
                                              <td>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                  <tr>
                                                    <td style="color: #333333; font-family: 'Segoe UI',-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif; font-size: 14px; font-weight: normal; line-height: 24px; padding: 0 0 16px 0;" align="left">
                                                       Napa Valley College | 2277 Napa Vallejo Hwy, Napa, CA 94558
                                                    </td>
                                                  </tr>
                                                </table>
                                              </td>
                                            </tr>
                                          </table>
                                          <!-- /content left -->
                                          <!-- content right -->
                                          <table class="content-table" border="0" cellpadding="0" cellspacing="0" width="132px" align="right" pardot-region>
                                            <tr>
                                              <td>
                                                <table border="0" cellpadding="0" cellspacing="0" width="112px" align="right">
                                                  <tr>
                                                    <td style="color: #333333; font-family: 'Segoe UI',-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: normal; line-height: 24px;width: 32px" align="right" width="32">
                                                      <a href="#" target="_blank">
                                                        <img style="display: block; font-family: 'Segoe UI',-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif; color: #333333; font-size: 14px; width: 32px; height: auto;" class="img-max" src="http://via.placeholder.com/64x64" alt="Outline Mail" width="32" border="0">
                                                      </a>
                                                    </td>
                                                    <td style="color: #333333; font-family: 'Segoe UI',-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: normal; line-height: 24px;width: 32px" align="right" width="32">
                                                      <a href="#" target="_blank">
                                                        <img style="display: block; font-family: 'Segoe UI',-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif; color: #333333; font-size: 14px; width: 32px; height: auto;" class="img-max" src="http://via.placeholder.com/64x64" alt="Outline Mail" width="32" border="0">
                                                      </a>
                                                    </td>
                                                    <td style="color: #333333; font-family: 'Segoe UI',-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: normal; line-height: 24px;width: 32px" align="right" width="32">
                                                      <a href="#" target="_blank">
                                                        <img style="display: block; font-family: 'Segoe UI',-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif; color: #333333; font-size: 14px; width: 32px; height: auto;" class="img-max" src="http://via.placeholder.com/64x64" alt="Outline Mail" width="32" border="0">
                                                      </a>
                                                    </td>
                                                  </tr>
                                                </table>
                                              </td>
                                            </tr>
                                          </table>
                                          <!-- /content right -->
                                        </td>
                                      </tr>
                                    </table>
                                    <!-- /Two column -->
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <!-- /Two up text -->
                        <!-- /address and social -->
                      </td>
                    </tr>
                    <tr>
                      <td style="color: #333333; font-family: 'Segoe UI',-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif; font-size: 14px; font-weight: normal; line-height: 21px;padding:  0 24px 0 24px" align="left" pardot-region>
                        %%unsubscribe%%
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- /footer full -->